#nono_game {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}

#nono_game div {
  grid-gap: 20px;
}

#nono_game div div {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid black;
}

.black {
  background-color: #ccc;
}

.red {
  background-color: red;
}

.label {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30px;
  height: 30px;
}

.cell {
  background-color: #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.container > button {
  width: 180px;
  height: 60px;
  font-size: 20px;
}
